{
	"OpenAISecret": "sk-ExampleOpenAISecretKey",
	"ottaJobsniffer": {
		"enabled": true,
		"credentials": {
			"email": "test@example.com",
			"password": "Password123"
		}
	},
	"sampleJobsniffer": {
		"enabled": false
	}
}