{
	"OpenAISecret": "sk-ExampleOpenAISecretKey",
	"userInfo": {
		"fullName": "John Smith",
		"email": "js@example.com",
		"pronouns": "He/Him",
		"gitURL": "github.com/git",
		"linkedIn": "linkedin.com/in/test-url/",
		"website": "example.com",
		"telephone": "+1 555-555-5555",
		"salary": 58000,
		"salaryCurrency": "USD",
		"rightToWorkCountries": ["USA"],
		"noticePeriod": 0,
		"location": "Redmond, Washington"
	},
	"sniffers": {
		"ottaJobsniffer": {
			"enabled": true,
			"credentials": {
				"email": "test@example.com",
				"password": "Password123"
		}
		},
		"sampleJobsniffer": {
			"enabled": false
		}
	}
	
}